@tailwind base;
@tailwind components;
@tailwind utilities;
body{
  background: #000;
}
html {
  scroll-behavior: smooth;
}
.gradient-wallpaper {
  background: radial-gradient(circle at top left, #02060e, #1a202c, black),
    linear-gradient(to bottom right, #0f1116, #050709, #1a202c);
  position: relative;
  overflow: hidden;
}

.gradient-wallpaper::before,
.gradient-wallpaper::after {
  content: "";
  position: absolute;
  border-radius: 50%;
  opacity: 0.5;
  filter: blur(60px);
  z-index: 1;
}

.gradient-wallpaper::before {
  width: 800px;
  height: 700px;
  background: radial-gradient(circle, rgba(24, 209, 171, 0.8), transparent);
  top: 10%;
  left: 10%;
}

.gradient-wallpaper::after {
  width: 700px;
  height: 700px;
  background: radial-gradient(circle, rgba(244, 67, 227, 0.7), transparent);
  bottom: 10%;
  right: 15%;
}
